# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

clamd==1.0.2
Flask==1.0.2
itsdangerous==0.24
lxml==4.2.5
validatesns==0.1.1
psutil==5.4.8

git+https://github.com/alphagov/digitalmarketplace-utils.git@50.1.0#egg=digitalmarketplace-utils==50.1.0
